
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mesekir">
    <meta name="title" content="YMARU online course and tutor">
    <meta name="description"
        content="YMARU is an Ethiopian online learning platform aimed at providing education with excellence.">
    <mata name="keywords" content="YMARU online education distance learning ethiopian study home">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../stylesheets/home.css">
        <link rel="stylesheet" href="../../stylesheets/footer.css">
        <link rel="shortcut icon" href="../../images/Logo/logo.jpeg">
        <title>Tutee Home</title>

        <script>
            slide_images = new Array('../images/Images/tutoring pic 6_11zon.png', '../images/Images/for student_11zon.jpg', '../images/Images/for student3_11zon.jpg',
                '../images/Images/for student2_11zon.jpg', '../images/Images/for student4_11zon.jpg', '../images/Images/forall_11zon.jpg');
            title = new Array('Welcome to YMARU Tutoring Website', 'You Must Be Excited To Be Here', 'So Have You Decided Yet, What You Want To Study',
                'Explor The Website. What Are Waiting Then!', 'Are In To Music..........', 'Codding Then..... All Are Available Here');

            banner = 0

            function ShowBanners() {
                if (document.images) {
                    banner++
                    if (banner == slide_images.length) {
                        banner = 0
                    }
                    document.ChangeBanner.src = slide_images[banner];
                    document.getElementById('title1').innerText = title[banner];
                    document.getElementById('links').href = links[banner];
                    setTimeout("ShowBanners()", 5000);
                }
            }
        </script>
</head>

<body onload="ShowBanners()" a link="#ffffff">
    <!--Header of text online tutor-->
    <div class="header">
        <nav id="navbar">
            <div class="main-logo">
                <a href="./"><img src="../images/Logo/logo.jpeg" class="logo" alt="Website logo YMARU"
                        title="YMARU Home"></a>
            </div>
            <div>
                <button class="mobile-menu-toggle">
                    <img src="../images/Images/ymaru-menu-icon.svg">
                </button>
            </div>

            <ul id="ULlinks" aria-expanded="false">
                <li>
                    <a href="pages/profile">Profile</a>
                </li>
                <li>
                    <a href="pages/aboutus">About Us</a>
                </li>
                <li>
                    <a href="pages/reportpage">Catalogue</a>
                </li>
                <li>
                    <a href="pages/contactus">Contact</a>
                </li>
                <li>
                    <a href="pages/teach">Teach</a>
                </li>
                <li>
                    <a href="pages/logout">LogOut</a>
                </li>

            </ul>
        </nav>
    </div>

    <div style="clear: left;"></div>

    <div class="warrper">
        <!-- Teach On online platform button-->
        <div class="title">
            <font size="5" color="white" face="arial">
                <h1>YMARU Online Course And Tutor</h1>
            </font>
        </div>

        <div class="slider-wrappeer">
            <div class="slide-image">
                <a href="./" id="links">
                    <img src="../images/Images/tutoring pic 6_11zon.png" width="100%" height="auto" name="ChangeBanner" /></a>
            </div>
            <div class="title1" id="title1">first title</div>
        </div>


        <div class="body">
            <div class="division">
                <div class="search">
                    <!--Catagories-->
                    <font size="4" color="white" face="arial">
                        <label for="search1">Search YMARU</label>
                    </font>
                    <div class="search-wrapper">
                        <div class="search-input">
                            <form action="" method="get">
                                <input type="search" id="search1" name="search">
                            </form>

                        </div>
                        <div class="search-icon" title="Search">
                            <img width="20px" src="../images/images/Images/search-512x512-433864.png ">
                        </div>
                    </div>
                    <font size="4" color="white" face="arial">
                        Feel free to explore.
                    </font>
                </div>
                <br><br>
                <div class="ymaru-message">
                    <h1 align="center">
                        <font size="7"> Hello
                        <%= user %> Start Building Your Carer
                        </font>
                    </h1>
                    <font size="5" color="292929">
                        <h3>Transform your life through education </h3>
                    </font>
                    <div class="custome-message">
                        <div class="msg-img">
                            <img src="../images/Images/lifechang.png" alt="change your life img" width="200" height="200">
                        </div>
                        <div class="message">
                            <font size="4" color="292929"> Learners around the world are launching new careers,
                                advancing in their fields, and enriching their lives.</font>
                        </div>
                    </div>
                </div>
            </div>
            

                
            <div class="recommend_popular">
                <!--recommended and popular-->
                <div class="recommended">
                    <div class="title">
                        <font size="5" color="white" face="arial">You are currently taking</font>
                    </div>
                    <div class="subject_boxes">
<%  if ( typeof stud !== 'undefined' && stud!== null )
                            {
 if(stud.length> 0){
    stud.forEach(function(stud){
    %>
                        <div class="amharic" align="center " title="Amharic">
                            <% if (typeof pro !=='undefined' && user !=='undefined' ) {%>
                            
                               
                                    <img src="../profile/<%= user %>/<%= pro %>" alt="img" width="30%" height="10%">
                                
                                <% }%>
                            
                            <ul type="none">
                                <li>
                                    <font size="3" color="white">
                                        Title: <a
                                            href="Pages/interfaceforboth.php?ClickedTeacher=<?php echo $TeacherName;?>">
                                            <%= stud.course_name %>
                                        </a>
                                    </font>
                                </li>
                                <li>
                                    <font size="3" color="white">
                                        Calagory:
                                        <%= stud.catalogue %>
                                    </font>
                                </li>
                                <li>
                                    <font size="3" color="white">
                                        Course giver:
                                        <%= stud.fullname %>
                                    </font>
                                </li>
                                <li>
                                    <font size="3" color="white">
                                        Experience:
                                        <%= stud.experience %>
                                    </font>
                                </li>
                            </ul>
                        </div>
<% }); }}%>
                        




                    </div>
                </div>
                <!--end of recommended-->

                <div class="popular">
                    <div class="title2">
                        <font size="5" color="white" face="arial">
                            Teachers
                        </font>
                    </div>
                    
               

                    <div class="subject_boxes">
                       

                        <div class="firstp" align="center ">
                            <img src=<?php echo $profile;?> width="12% " height="12% ">
                            <ul type="none">
                                <li>
                                    <font size="3" color="white">
                                        Name:
                                        <?php echo $TeacherName;?>
                                    </font>
                                </li>
                                <li>
                                    <font size="3" color="white">

                                        course: <a
                                            href="Pages/enroll.php?clickedcourse=<?php echo $course;?>&clickedcatagory=<?php echo $catagory;?>">
                                            <?php echo $course?>
                                        </a>
                                    </font>
                                </li>
                                <li>
                                    <font size="3" color="white">
                                        Catalogue:
                                        <?php echo $catagory;?>
                                    </font>
                                </li>
                                <li>
                                    <font size="3" color="white">
                                        Experience:
                                        <?php echo $experience;?>
                                    </font>
                                </li>
                            </ul>
                        </div>

                        

                    </div>
                 
                

                   
                    <div class="popular">
                        <div class="title2">
                            <font size="5" color="white" face="arial">
                                
                            </font>
                        </div>
                        <div class="subject_boxes">
                        <%    if ( typeof data !== 'undefined' && data!== null )
                            {
                         if(data.length> 0){
                            data.forEach(function(data){
                            %>
                            <div class="firstp" align="center ">
                                <img src=<?php echo $profile;?> width="12% " height="12% ">
                                <ul type="none">
                                    <li>
                                        <font size="3" color="white">
                                            Name:
                                            <%= data.fullname %>
                                        </font>
                                    </li>
                                    <li>
                                        <font size="3" color="white">
                                            course:
                                            <%= data.course_name %>
                                        </font>
                                    </li>
                                    <li>
                                        <font size="3" color="white">
                                            Catalogue:
                                            <%= data.catalogue %>
                                        </font>
                                    </li>
                                    <li>
                                        <font size="3" color="white">
                                            Experience:
                                            <%= data.experience %>
                                        </font>
                                    </li>
                                </ul>
                            </div>
<% }); }}%>
                            

                        </div>
                       
                        <!--end of popular-->


                    </div>
                    <video class="video" controls>
                        <source src="../video/Best Version Of Yourself - Motivational Video.mp4" type="video/mp4">
                    
                    </video>

                </div>

                <!--End of class body-->
            </div>
            <!--wrapper end-->

            <div style="clear: left;"></div>

        </div>
        <div class="footer">
            <div class="footer-lists">
                <div class="footer-logo-link">
                    <div class="ymaru-logo">
                        <a href="./"><img src="../images/Logo/logo.jpeg" width="60" height="60"
                                title="YMARU Home"></a>
                    </div>
                    <div class="ymaru-text">
                        <p><a href="./"><span>YMARU</span> Online Course &amp; Tutor</a></p>
                    </div>
                </div>
                <div class="social-medias">
                    <p>Follow Us On</p>
                    <ul>
                        <li><a href="http://facebook.com" target="_blank"> <img src="../images/Images/facebook.png">
                                <font face="arial">Facebook</font>
                            </a></li>
                        <li><a href="http://twitter.com" target="_blank"> <img src="../images/Images/twitter.png">
                                <font face="arial">Twitter</font>
                            </a></li>
                        <li><a href="http://instagram.com" target="_blank"> <img src="../images/Images/instagram-square.jpg">
                                <font face="arial">Instagram</font>
                            </a></li>

                    </ul>
                </div>
                <div class="contacts">
                    <p>Get in Touch</p>
                    <ul>
                        <li>Phone: +251 9123 456 789</li>
                        <li>Fax: ....</li>
                        <li>Email: <a href="mailto:mesekirgetch@gmail.com">ymaru@edu.com</a></li>
                    </ul>
                </div>

            </div>

            <div class="footer-bottom">
                <div class="privterm">
                    <a href="privacy.html">
                        <font face="arial">Privacy</font>
                    </a>
                    <a href="terms.html">
                        <font face="arial">Terms of Use</font>
                    </a>
                </div>
                <div class="copyright">
                    <p>Copyright &copy; YMARU 2022, All Rights Reserved</p>
                </div>
            </div>
        </div>
        <script>
            const logo = document.querySelector(".logo");
            const navbar = document.querySelector("#navbar");
            const menu = document.querySelector("#ULlinks");
            const navToggle = document.querySelector('.mobile-menu-toggle');
            window.onscroll = function () {
                if (window.pageYOffset >= menu.offsetTop) {
                    navbar.classList.add("sticky");
                    logo.style.width = "80px";
                    navToggle.style.backgroundColor = "#ffffff33";
                }
                else {
                    navbar.classList.remove("sticky");
                    logo.style.width = "150px";
                    navToggle.style.backgroundColor = "transparent";
                }
            }
            window.addEventListener("load", function () {
                let BrowserWidth = window.innerWidth;
                if (BrowserWidth < 901) {
                    logo.style.width = "80px"
                }
                else {
                    logo.style.width = "150px";
                }
            })
            window.addEventListener("resize", function () {
                let BrowserWidth = window.innerWidth;
                if (BrowserWidth < 901) {
                    logo.style.width = "80px"
                }
                else {
                    logo.style.width = "150px";
                }
            })
            window.addEventListener("scroll", function () {
                let BrowserWidth = window.innerWidth;
                if (BrowserWidth < 901) {
                    logo.style.width = "80px"
                }
            })
            /*Navbar Menu Toggle*/

            const mobileMenu = document.querySelector('[aria-expanded]');
            navToggle.addEventListener("click", function () {
                const isOpened = mobileMenu.getAttribute("aria-expanded");
                if (isOpened === "false") {
                    mobileMenu.setAttribute('aria-expanded', true);
                }
                else if (isOpened === "true") {
                    mobileMenu.setAttribute('aria-expanded', false);
                }
            })

        </script>
        <style>
            body {
                font-family: sans-serif;
                width: 100%;
                height: 100%;
                color: #fff;
                background: linear-gradient(-45deg, #52ab98, #52ab98, #52ab98, #52ab98);
                background-size: 400% 400%;
                position: relative;
                animation: change 10s ease-in-out infinite;
            }

            @keyframes change {
                0% {
                    background-position: 0 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0 50%;
                }
            }

            .warrper {
                margin-left: 8%;
                margin-right: 8%;
            }

            .header {
                width: 100%;
                height: 80vh;
            }

            nav {
                text-align: center;
                width: 100%;
                padding: 20px 0;
            }

            .logo {
                width: 150px;
                margin: 20px;
                border-radius: 50%;
                cursor: pointer;
            }

            nav ul {
                background: linear-gradient(-45deg, #082032, #2b6777, #2b6777, #2b6777);
                background-size: 100% 100%;
                position: relative;
                animation: change 10s ease-in-out infinite;
                width: 100%;
                margin-top: 10px;
                display: flex;
                list-style: none;
                vertical-align: middle;
            }

            nav ul li a {
                line-height: 80px;
                padding: 12px 30px;
                text-decoration: none;
                font-size: 14px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                color: #fff;
            }

            nav ul li a:hover {
                background: rgba(0, 0, 0, .7);
                border-radius: 6px;
            }

            nav.sticky {
                position: fixed;
                top: 0;
                left: 0;
                background: linear-gradient(-45deg, #082032, #2b6777, #2b6777, #2b6777);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .body {
                margin-bottom: 30px;
            }

            .title {
                text-align: center;
                width: 100%;
                margin-bottom: 50px;
            }

            .title h1 {
                font-size: 2.5em;
                color: transparent;
                background-image: linear-gradient(-45deg, #47131c, #162e2e);
                background-clip: text;
                -webkit-background-clip: text;
                z-index: -1;
            }

            .footer {
                width: 100%;
                /* padding: 20px;
            padding-bottom: 10px; */
                /* height: 50hv; */
                position: relative;
                bottom: 0;
                right: 0;
                left: 0;
                background: linear-gradient(-45deg, #091118, #2b6777, #2b6777, #2b6777);
                background-size: 100% 100%;
                animation: change 10s ease-in-out infinite;
                /* z-index: -1; */
            }

            .footer .footer-lists {
                display: flex;
                justify-content: space-between;
                margin-left: 1%;
            }

            .footer .footer-logo-link {

                margin-top: 2%;

            }

            .footer .social-medias {

                margin-top: 3%;

            }

            .footer .contacts {

                margin-top: 2%;
                margin-right: 1%;

            }

            .footer .social-medias ul {

                list-style: none;

            }

            .footer .social-medias ul li {
                margin-bottom: 5px;
                color: white;
                float: left;
            }

            .footer .social-medias ul li a {
                text-decoration: none;
                color: white;

            }

            .footer .social-medias ul li a:hover {
                color: aqua;
            }

            .footer .social-medias ul li a img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 5px;
                margin-left: 15px;
                margin-bottom: -5px;
            }
        </style>
</body>

</html>